body{
    margin: 0;
    font-family: sans-serif;
}
#section-1{
    background-color: #87509c;
    height: 600px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
header{
    padding: 55px;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline-block;
    padding: 10px 16px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li.active{
    background-color: #87509c;
    border-radius: 5px;
}
.main-heading{
    margin-top: 148px;
    text-align: center;
}
.main-heading h1{
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 60px;
}
.main-heading a{
    text-decoration: none;
    background-color: #eb7d4b;
    color: #333;
    font-size: 1.5px;
    padding: 10px 20px;
    border-radius: 5px;
    }
.section-2{
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
}
.tittle-box{
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.tittle-box h2{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 40px;
    text-decoration: uppercase;
    font-weight: bold;
}
.tittle-box.line{
    width: 87px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.15);
    margin-right: auto;
    margin-left: auto;
}
.services-box{
    margin: 80px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 90px;
    padding: 100px;
}
.service{
    width: 24%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.service h3{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 60px;
}
.service p{
    font-size: 15px;
    line-height: 26px;
}
#section-3{
    background-color: #3c5499;
    min-height: 820px;
    color: white;
}
#contact-form{
    max-width: 860px;
    margin-right: auto;
    margin-left: auto;
}
.form-row{
    display: flex;
}
input[type="text"] , input[text="email"]{
    width: 46%;
    height: 55px;
}
input[type="text"] , input[text="email"] , textarea{
    font-family: sans-serif;
    color: white;
    background-color: #273a71;
    border: none;
    font-size: 18px;
    margin: 16px;
    border-radius: 5px;
    padding-left: 26px;
}
textarea{
    height: 200px;
    width: 100%;
    padding-top: 24px;
}
input[type="submit"]{
    background-color: #30bae7;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 60px;
}
.big-button{
    padding: 25px 85px;
}
footer{
    background-color: #344b8e;
}
.footer-links{
    max-width: 945px;
    margin-left: auto;
    margin-bottom: auto;
}
footer ul{
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}
footer ul li{
    display: inline-block;
    padding: 10px 20px 10px 20px;
}
footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}